@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<div class="row">

    <div class="col-md-6" style="padding:0px 0px;">
        <input type="file" name="client-file" id="get-files" multiple />
        <br /><br />
        <div class="fileItems-container">
            <div id="fileItems-ul" style="padding:0px;"></div>
        </div>
    </div>

    <div class="col-md-6" style="padding:0px 0px;">
        <div class="row"><input id="postUpload" type="button" value="Post Upload" /></div>
        <div class="row" style="height:300px; position:relative; background-color: #fefefe; border: 1px solid #eee; max-height:300px; overflow-y: auto;  z-index:-1;"
             id="upload-area">
            <div style="position:absolute; width:100%; color: #ddd; top:45%; text-align:center; font-size: 1.3em;">Drag files here to Upload </div>
            <div style="padding:0px;" id="dropped-fles"></div>
        </div>
        <div class="row"><input id="getUploaded" type="button" value="Get Uploaded" /></div>
        <div class="row" style="height:300px; background-color: #eee; overflow-y:auto;">        
            <div id="imageContainer">
            </div>
        </div>
    </div>
</div>

<script>

    //get uploaded files
    $(document).ready(function () {
        var filesToUpload = [];
        $('#getUploaded').on('click', function () {
            var ajaxRequest = $.ajax({
                type: "GET",
                url: "http://webupload.com:8084/api/FileUploads",
                success: function (data) {
                    console.log("success");
                    console.log(data);
                    var imgs = "";
                    for (var i = 0; i < data.length; i++) {
                        var src = "data:image/jpeg;base64,";
                        src += data[i].imagedata;
                        var newImage = document.createElement('img');
                        newImage.src = src;
                        newImage.width = newImage.height = "80";
                        imgs += newImage.outerHTML;
                    }
                    document.querySelector('#imageContainer').innerHTML = imgs;
                },
            });
        });

        //upload dropped files
        $('#postUpload').on('click', function () {

            if (filesToUpload.length > 0) {
                var data = new FormData()
                var files = $("#get-files").get(0).files;

                for (let i = 0; i < filesToUpload.length; i++) {
                    data.append("file" + i, files[parseInt(filesToUpload[i])]);
                }
                //add files to be uploaded in data parameter
                //for (var x = 0; x < files.length; x++) {
                //    data.append("file" + x, files[x]);
                //}

                //send post request to web api
                var ajaxRequest = $.ajax({
                    type: "POST",
                    url: "http://webupload.com:8084/api/FileUploads",
                    data: data,
                    contentType: "application/json",
                    contentType: false,
                    processData: false
                });
                ajaxRequest.done(function (xhr, textStatus, data) {
                    console.log(data);
                });

                filesToUpload = [];
            }

        });
        $('#get-files').on('change', function () {
            var inp = document.getElementById("get-files");
            $('#fileItems-ul').text("");
            //display list files to upload
            for (i = 0; i < inp.files.length; i++) {
                let file = inp.files[i];
                $('#fileItems-ul')
                    .append('<div class="file2Upload" id="li' + i
                    + '" style="margin:5px; display:inline-block; background-color: #eee; height:100px; width:120px;word-wrap: break-word; font-size:0.8em;"><span style="user-select:none;">'
                    + file.name
                    + '<br/>('
                    + file.size + ')'
                    + '</span></div>');
                console.log(file);
            }
            //dry file to be draggable
            $(function () {
                $('.file2Upload').draggable({
                    cursor: 'move',
                    helper: "clone",
                    snap: "#upload-area"
                });
                //once dropped, add file to list 
                $("#upload-area").droppable({
                    drop: function (event, ui) {
                        var itemid = ui.helper.context.id;
                        filesToUpload.push(itemid.replace("li",""));
                        $('.file2Upload').each(function () {
                            if ($(this).attr("id") === itemid) {
                                $(this).appendTo("#upload-area");
                            }
                        });
                    }
                });
            });

        });
    });



</script>